$base-font-size: 14px;
$letter-spacing-default: 1px;
.italic {
	font-style: italic;
}

/*colors*/
$dark: #38352f;
$pink: #E23D80;

.pad-cont {
	padding-top: 100px;
	padding-bottom: 50px;
}

header {
	min-height: 100vh;
	background-image: url("../img/2016-Tesla-Model-X-P90D-front-three-quarter-in-motion.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.panel-title {
	a {
		display: block;
	}
}


#officeMap {
	height: 500px;
}