$fontFam: 'Kanit', sans-serif;
$base-font-size: 14px;
$letter-spacing-default: 1px;
$heavy: 900;
$bold: 600;
$regular: 400;
$light: 300;

/*colors*/
$dark: #484545;
$blue: #1c4463;
$green: #a6c117;
$white: #fff;
$lightgray: #f5f5f5;
$darkgray: rgba(49, 64, 68, 0.7);
$pink: rgba(199, 34, 124, 0.6);

$transition-default: all 0.6s ease;

.pad-cont {
	padding-top: 100px;
	padding-bottom: 50px;
}

body {
	font-family: $fontFam;
	font-size: $base-font-size;
	color: $dark;
	font-weight: $regular;
}

.navbar-default {
	background: $blue;
	border-color: $white;
	border-bottom: 4px double $white;
	min-height: 65px;
	.navbar-brand {
		color: $white;
		font-weight: $bold;
		font-style: italic;
		font-size: ($base-font-size * 2.5);
		letter-spacing: $letter-spacing-default;
		-webkit-transition: $transition-default;
		transition: $transition-default;
		padding: 12px;
		&:hover, &:focus {
			color: $white;
			opacity: .8;
		}
	}
	.navbar-nav {
		li {
			padding-top: 6px;
			a {
				color: $white;
				font-weight: $light;
				font-size: ($base-font-size + 2);
				&:hover, &:focus {
					color: $white;
					opacity: .8;
				}

			}
		}
	}
}

header {
	min-height: 100vh;
	background-image: url("../img/2016-Tesla-Model-X-P90D-front-three-quarter-in-motion.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
}

.panel-group {
	margin-top: 40px;
}

.panel.panel-default {
	position: relative;
	border-radius: 0;
	border-color: $white;
	-webkit-box-shadow: none;
	        box-shadow: none;
    padding: 20px;
    border-top: 7px double $white;
    border-bottom: 7px double $white;
    margin-bottom: 25px;
    background-color: $lightgray;
	.panel-heading {
	    color: $dark;
	    background-color: transparent;
	    border-radius: 0;
	    padding-bottom: 0;
	    a {
			display: block;
		}
		.btn-primary {
		    background-color: $white;
		    border: 0;
		    border: 4px double $blue;
		    color: $blue;
		    border-radius: 0;
		    font-weight: $regular;
		    margin-top: 20px;
		    font-size: ($base-font-size + 2);
		    width: 300px;
		    margin-left: auto;
		}
	}
	.panel-title {
		font-size: ($base-font-size * 1.7);
    	color: inherit;
    	font-weight: $bold;
    	font-style: italic;
		
	}
	.label {
		font-size: $base-font-size;
		font-weight: 300;
		font-style: italic;
	    border-radius: 0;
	    position: absolute;
	    margin-left: 0px;
	    margin-top: 35px;
	    padding: 5px 10px;
	    color: $white;
	}
	.label-info {
		background-color: $green;
	}
	.label-warning {
		background-color: $darkgray;
	}
	.label.label-primary {
		background-color: $green;
		color: $white;
		border-radius: 0;
	    font-size: ($base-font-size * 1.5);
	    font-weight: $light;
	    font-style: italic;
	    position: absolute;
	    right: -15px;
    	margin-top: -50px;
    	border-bottom: 4px double $white;
    	border-top: 4px double $white;
    	width: 135px;
    	sup {
		    top: -0.7em;
	        font-size: 58%;
    	}
	}
	.car-features {
		padding: 20px 0;
		.badge {
			border-radius: 0;
			background-color: $white;
			font-size: $base-font-size;
			font-weight: 300;
			font-style: italic;
			color: $dark;
		}
	}
}

.no-pad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#officeMap {
	height: 500px;
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
}

.map-container {
	height: 250px;
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
}